---
const offre = Astro.props;
---

<li>Adresse : {offre.adresse}</li>
<li>Favori : {offre.favori}</li>
<li>id : {offre.id}</li>
<li>Nombre de chambres : {offre.nbChambres}</li>
<li>Nombres de salle de bain :{offre.nbSdb}</li>
<li>Prix (€) : {offre.prix}</li>
<li>Surface (m²) : {offre.surface}</li>
<li>Image de la maison : {offre.imgUrl}</li>
